@page "/"
@using ApiContracts
@using BlazorApp.Services
@attribute [Authorize]
@inject HttpSubforumService SubforumService
@inject HttpUserService UserService

<PageTitle>Home</PageTitle>

<h1>Its a beginner website dude</h1>

<AuthorizeView>
    <Authorized Context="authUser">
        <div class="subforums">
            @if (_subforums == null)
            {
                <h1>Loading subforums...</h1>
            }
            else
            {
                <h2>Subforums</h2>
                <ul>
                    @foreach (SubforumDTO subforum in _subforums)
                    {
                        <li><a href="/Subforum/@subforum.SubforumId">@subforum.Name</a></li>
                    }
                </ul>
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private List<SubforumDTO>? _subforums;

    protected override async Task OnInitializedAsync()
    {
        _subforums = await SubforumService.GetAllSubforumsAsync(new SubforumSearchFilter());
    }

}